media
media_backup

__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.DS_Store
.git
.mypy_cache
.pytest_cache
.hypothesis
.vscode
.idea
__pycache__/
*.py[cod]
*$py.class