services:
  postgres:
    image: postgres:17-alpine
    container_name: psgr
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1234
      - POSTGRES_DB=mydata
    volumes:
      - postgres-data:/var/lib/postgres/data
    networks:
      - dbnet



networks:
  dbnet:
    driver: bridge

volumes:
  postgres-data:
