services:
  nginx:
    image: nginx
    volumes:
      - ./.docker/nginx/nginx.conf:/etc/nginx/nginx.conf
      - media-data:/var/www/media
      - static-data:/var/www/static
    ports:
      - "8000:80"
    depends_on:
      - web
    networks:
      - net

  web:
    build: .
    image: web-django
    volumes:
      - media-data:/var/www/media
      - static-data:/var/www/static
    environment:
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    depends_on:
      postgres:
        condition: service_healthy
    command: >
      sh -c "python manage.py collectstatic --noinput && 
      python manage.py migrate && 
      gunicorn app.wsgi:application --bind 0.0.0.0:8000"
    networks:
      - net


  postgres:
    image: postgres:17-alpine
    container_name: psgr
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U xomma -d education"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - net

  adminer:
    image: adminer
    container_name: adminer
    ports:
      - "8080:8080"
    networks:
      - net
    depends_on:
      - postgres

networks:
  net:
    driver: bridge

volumes:
  postgres-data:
  media-data:
  static-data:
