services:
  nginx:
    image: nginx
    volumes:
      - ./.docker/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./media:/var/www/media
      - ./static:/var/www/static
    ports:
      - "80:80"
    depends_on:
      - web
    networks:
      - net

  web:
    build: .
    image: web-django
    volumes:
      - media-data:/var/www/media
      - static-data:/var/www/static
    environment:
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    depends_on:
      postgres:
        condition: service_healthy
    command: >
      sh -c "
      mkdir -p /app/logs &&
      python manage.py collectstatic --noinput && 
      python manage.py migrate &&
      python /app/scripts/run_db.py &&
      gunicorn app.wsgi:application --bind 0.0.0.0:8000"
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8000/" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - net




  postgres:
    image: postgres:17-alpine
    container_name: psgr
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: >
        sh -c 'pg_isready -U "$$POSTGRES_USER" -d "$$POSTGRES_DB"'
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - net


networks:
  net:
    driver: bridge

volumes:
  postgres-data:
  media-data:
  static-data:
